doctype
html
  head
    title= Express File Upload Demo
    style.
      #drop-zone {
        background-color: #999999;
        border-radius: 5px;
        border: 1px solid #777777;
      }
    script(type='text/javascript').
      console.log("Hello")

  body
    h1 Express File Upload
    p Drop a file in the zone below
    div#drop-zone